<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bannerName</key>
		<string>tm0001_banner</string>
		<key>markerID</key>
		<string>mk0001</string>
		<key>version</key>
		<string>1.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0002_banner</string>
		<key>markerID</key>
		<string>mk0002</string>
		<key>version</key>
		<string>1.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0003_banner</string>
		<key>markerID</key>
		<string>mk0003</string>
		<key>version</key>
		<string>1.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0004_banner</string>
		<key>markerID</key>
		<string>mk0004</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0005_banner</string>
		<key>markerID</key>
		<string>mk0005</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0006_banner</string>
		<key>markerID</key>
		<string>mk0006</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0007_banner</string>
		<key>markerID</key>
		<string>mk0007</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0008_banner</string>
		<key>markerID</key>
		<string>mk0008</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0009_banner</string>
		<key>markerID</key>
		<string>mk0009</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0010_banner</string>
		<key>markerID</key>
		<string>mk0010</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0011_banner</string>
		<key>markerID</key>
		<string>mk0011</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0012_banner</string>
		<key>markerID</key>
		<string>mk0012</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0013_banner</string>
		<key>markerID</key>
		<string>mk0013</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0014_banner</string>
		<key>markerID</key>
		<string>mk0014</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0015_banner</string>
		<key>markerID</key>
		<string>mk0015</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0016_banner</string>
		<key>markerID</key>
		<string>mk0016</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0017_banner</string>
		<key>markerID</key>
		<string>mk0017</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0018_banner</string>
		<key>markerID</key>
		<string>mk0018</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0019_banner</string>
		<key>markerID</key>
		<string>mk0019</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0020_banner</string>
		<key>markerID</key>
		<string>mk0020</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0021_banner</string>
		<key>markerID</key>
		<string>mk0021</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0022_banner</string>
		<key>markerID</key>
		<string>mk0022</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0023_banner</string>
		<key>markerID</key>
		<string>mk0023</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0024_banner</string>
		<key>markerID</key>
		<string>mk0024</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0025_banner</string>
		<key>markerID</key>
		<string>mk0025</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0026_banner</string>
		<key>markerID</key>
		<string>mk0026</string>
		<key>version</key>
		<string>1.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0027_banner</string>
		<key>markerID</key>
		<string>mk0027</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0028_banner</string>
		<key>markerID</key>
		<string>mk0028</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0029_banner</string>
		<key>markerID</key>
		<string>mk0029</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0030_banner</string>
		<key>markerID</key>
		<string>mk0030</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0031_banner</string>
		<key>markerID</key>
		<string>mk0031</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0032_banner</string>
		<key>markerID</key>
		<string>mk0032</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0033_banner</string>
		<key>markerID</key>
		<string>mk0033</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0034_banner</string>
		<key>markerID</key>
		<string>mk0034</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm0035_banner</string>
		<key>markerID</key>
		<string>mk0035</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
	<dict>
		<key>bannerName</key>
		<string>tm1001_banner</string>
		<key>markerID</key>
		<string>mk1001</string>
		<key>version</key>
		<string>0.0.0</string>
	</dict>
 <dict>
		<key>bannerName</key>
		<string>tm0039_banner</string>
		<key>markerID</key>
		<string>mk0039</string>
		<key>version</key>
		<string>1.0.0</string>
	</dict>
 <dict>
		<key>bannerName</key>
		<string>tm0038_banner</string>
		<key>markerID</key>
		<string>mk0038</string>
		<key>version</key>
		<string>1.0.0</string>
	</dict>
 <dict>
		<key>bannerName</key>
		<string>tm0037_banner</string>
		<key>markerID</key>
		<string>mk0037</string>
		<key>version</key>
		<string>1.0.0</string>
	</dict>
 <dict>
		<key>bannerName</key>
		<string>tm0036_banner</string>
		<key>markerID</key>
		<string>mk0036</string>
		<key>version</key>
		<string>1.0.0</string>
	</dict>
</array>
</plist>
